%html
  %head
    %title Weather

  %body

    %h1 Weather

    %form
      %p Enter an address for which you want to see the weather.

      %label
        Address:
        %input{ name: 'address', size: 50, value: @location.address }

      %input{ type: 'submit', value: 'Submit' }

    - if @weather
      %main
        %div.weather
          %h2 Temperatures

          %div
            Weather for
            %span.location= @location.zipcode
            - if @weather.cached?
              (Cached)

          %div.temp
            %h3 Current
            %span.current= '%.1f' % @weather.temperature.fahrenheit
            °F

          %div.temp
            %h3 High
            %span.high= '%.1f' % @weather.high.fahrenheit
            °F

          %div.temp
            %h3 Low
            %span.low= '%.1f' % @weather.low.fahrenheit
            °F
