%html
  %head
    %title Weather

  %body
    This is a forecast: There will be weather.

    %form
      %label
        Address:
        %input{ name: 'address' }

    - if @location
      %section
        Current weather for
        %span.location= @location.zipcode

        Temparature
        = @weather.temperature.fahrenheit
